@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body, html {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

.loading {
  -webkit-animation: loading 0.01s;
          animation: loading 0.01s;
  -webkit-animation-delay: 1.10s;
          animation-delay: 1.10s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.loading-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.loading-item {
  -webkit-animation: animload 1s;
          animation: animload 1s;
  border-radius: 30px;
  height: 40px;
  width: 40px;
}

.loading-item-1 {
  background-color: #9356DC;
}

.loading-item-2 {
  background-color: #FF79DA;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.loading-item-3 {
  background-color: #99E2D0;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.header {
  position: relative;
  padding: 1rem 1rem;
  -webkit-box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.3);
}

.header-text {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  margin: 0;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.25rem 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f3f3f3;
  position: relative;
  font-size: 1.2rem;
}

.localisation-icon {
  margin-right: 1rem;
}

.localisation-text {
  font-weight: 700;
}

.more-restaurant {
  padding: 2rem;
  background-color: #fafafa;
  text-align: center;
}

.more-restaurant-title {
  margin: 0;
}

.more-restaurant-subtitle {
  font-weight: 300;
  margin: 1.5rem 0;
}

.more-restaurant-btn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background-color: #686868;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

.more-restaurant-btn:hover {
  background-color: white;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.more-restaurant-btn a {
  text-decoration: none;
  color: inherit;
}

.howto {
  padding: 1rem;
}

.howto-title {
  margin-top: 0;
}

.howto-steps {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 64rem) {
  .howto-steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.howto-number {
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: absolute;
  left: -0.75rem;
}

.howto-step {
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
          box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.howto-step:hover {
  background-color: #f5edff;
}

@media (min-width: 64rem) {
  .howto-step {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0;
    margin-left: 2rem;
  }
  .howto-step:first-child {
    margin-left: 0.75rem;
  }
}

.howto-step:first-child {
  margin-top: 0;
}

.howto-step:last-child {
  margin-bottom: 0;
}

.howto-text {
  font-weight: bold;
}

.howto-icon {
  margin-right: 1rem;
  color: #7e7e7e;
}

.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 1rem;
}

.restaurants-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 2rem;
}

@media (min-width: 64rem) {
  .restaurants-cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.restaurants-card-link {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
}

.restaurants-card-img {
  height: 12rem;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 1rem 1rem 0 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants-card-badge {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}

.restaurants-card-content {
  padding: 1rem;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.restaurants-card-title {
  margin-bottom: 0.25rem;
  margin: 0;
}

.restaurants-card-subtitle {
  margin: 0;
  margin-bottom: 0.0rem;
}

.restaurants-card-btn {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restaurants-like {
  float: right;
  color: #fff;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.restaurants-like:hover {
  color: #FF79DA;
  text-shadow: none;
}

.footer {
  background-color: #3b3b3b;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.footer-title {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-list:first-child {
  margin-top: 0;
}

.footer-list:last-child {
  margin-bottom: 0;
}

.footer-links {
  margin: 0.4rem 0;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

.header-back {
  position: relative;
}

.header-arrow {
  position: absolute;
  left: 2rem;
  height: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.2rem;
  width: 2rem;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
}

.menus-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 32rem;
}

.menus {
  margin-top: -4rem;
  z-index: 1;
  position: relative;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
}

.menus-header {
  padding: 1rem 2rem 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menus-title {
  font-family: "Shrikhand", "cursive";
}

.menus-btn {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
}

.like {
  color: white;
  content: "";
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.like:hover {
  color: #FF79DA;
  text-shadow: none;
}

.submenus {
  display: -ms-grid;
  display: grid;
}

@media (min-width: 64rem) {
  .submenus {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
}

.submenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}

.submenu-title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: normal;
}

.submenu-title::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menuItems {
  background-color: white;
  padding: 1rem;
  -webkit-animation: itemsVisible .6s;
          animation: itemsVisible .6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform: scale(0);
          transform: scale(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  -webkit-box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
}

.menuItems-header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menuItems-title {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menuItems-description {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menuItems-price {
  font-weight: bold;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menuItems:hover .menuItems-price {
  -webkit-animation: price 1s;
          animation: price 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menuItems:hover .fa-check {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.menuItems-confirmation {
  background-color: #99E2D0;
  margin: -1rem -5rem -1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  width: 4rem;
}

.menuItems:hover .menuItems-confirmation {
  margin-right: -1rem;
}

.menuItems-icons {
  height: 1.9rem;
  width: 2.3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menuItems:hover .menuItems-icons {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.menuItems-icon {
  color: white;
  opacity: 0;
}

.menuItems:hover .menuItems-icon {
  opacity: 1;
  background-color: #99E2D0;
  padding: 35px;
}

.commands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.commands-btn {
  border: 0;
  padding: 0.75rem 1.5rem;
  background-color: #686868;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

.commands-btn:hover {
  background-color: white;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.commands-btn a {
  text-decoration: none;
  color: inherit;
}

@-webkit-keyframes loading {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes loading {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@-webkit-keyframes animload {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  75% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes animload {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  75% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes price {
  0% {
    margin-right: 0%;
  }
  100% {
    margin-right: 12%;
  }
}

@keyframes price {
  0% {
    margin-right: 0%;
  }
  100% {
    margin-right: 12%;
  }
}

@-webkit-keyframes itemsVisible {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes itemsVisible {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=base.css.map */